<form method="post" action="{{ path('event_delete_admin', {'id': event.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
    <button class="btn btn-delete m-3"><i class="fas fa-times mr-3"></i>Supprimer</button>
</form>
