<footer>
    <div class="container">
        <div class="credits p-3">
            Designed by <a href="https://www.linkedin.com/in/cndplanchenault/">Cindy Planchenault</a>
        </div>
    </div>
</footer>