#events {
  padding: 60px 0;

  h3 {
    font-family: $font-title;
    border-left: $primary-color 5px solid;
    padding-left: 20px;
    margin: 100px 0;
  }

  .event-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;

    .event-wrap {
      overflow: hidden;
      position: relative;
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 14px;
      padding-bottom: 0;

      &:hover{
        background-color: $secondary-color;

        .event-info {
          opacity: 1;
        }
      }

      .event-info {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        opacity: 0;
        transition: 0.2s linear;

            p {
              margin: 0;
              color: #f8fcff;
              font-weight: 500;
              font-size: 14px;
            }

            h4 {
              font-size: 22px;
              line-height: 1px;
              font-weight: 700;
              margin-bottom: 14px;
              padding-bottom: 0;
              text-transform: capitalize;
              font-family: $font-title;

                a {
                  color: #fff;

                  &:hover {
                    color: $light-color-text;
                  }
                }
            }
      }
    }

    .event-wrap:hover img {
      opacity: 0.4;
      transition: 0.3s;
    }
  }
}
