#intro {
  display: table;
  width: 100%;
  height: 100vh;
  background: black;

  .carousel-item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &:before {
      content: '';
      background-color: rgba(0, 0, 0, 0.7);
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }

  .carousel-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  .carousel-background img {
    max-width: 100%;
  }


  h2 {
    color: $light-color-text;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 500;
    font-family: $font-title;
  }

  p {
    width: 80%;
    margin: 0 auto 30px auto;
    color: $light-color-text;
    font-family: $font-body;
  }

  .carousel-fade {
    overflow: hidden;
  }

  .carousel-fade .carousel-inner .carousel-item {
    transition-property: opacity;
  }
}


#intro .carousel-fade .carousel-inner .active{
  opacity: 1;
  transition: 0.5s;
}


.btn-get-started {
  font-family: $font-body;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  color: $light-color-text;
  background: $secondary-color;
  transform: scale(1);
  transition: transform 400ms;

  &:hover {
    color: $light-color-text;
    text-decoration: none;
    transform: scale(1.15);
  }

}

.btn-delete {
  font-family: $font-body;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  color: darkred;
  background: $secondary-color;

  &:hover {
    background: darkred;
    color: $light-color-text;
    text-decoration: none;
  }
}
