$primary-color: #927357;
$secondary-color: #8684ab;
$third-color: #cdd3ce;
$light-bg-color: #f9f8f8;
$light-color-text: #ffffff;
$dark-color-text: #303030;

$font-title: 'Prata', serif;
$font-body: 'Montserrat', sans-serif;