<form method="post" action="{{ path('artist_delete_admin', {'id': artist.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet artiste ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ artist.id) }}">
    <button class="btn btn-delete m-3"><i class="fas fa-times mr-3"></i>Supprimer</button>
</form>
